* {
    margin: 0;
    padding: 0;
}

.head-nav {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(coding-bg.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    margin-right: 10px;
}
nav h1 {
    font-size: 30px;
    font-family: 'Delius Swash Caps', cursive;
    color: white;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    margin-top: 7px;
    margin-right: 10px;
    position: relative;
}
.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Poor Story', cursive;
    transition: 1s;
}
.nav-links ul li a:hover {
    font-size: 25px;
}
.header-text h1 {
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 200px;
    font-family: 'Delius Swash Caps', cursive;
}
.header-text p {
    color: white;
    font-size: 20px;
    font-family: 'Poor Story', cursive;
    text-align: center;
    padding-top: 5px;
}
.process-body h1 {
    text-align: center;
    font-size: 60px;
    font-family: 'Delius Swash Caps', cursive;
    margin-top: 55px;
    margin-bottom: 30px;
    text-decoration: underline;
    text-decoration-style: solid;
}
.row {
    display: flex;
    justify-content: space-between;

}
.the-options {
    background-color: #ffddfb;
    margin: 2em;
    padding: 10px 12px;
    flex-basis: 30%;
    border-radius: 10px;
    margin-bottom: 50px;
    box-sizing: border-box;
    transition: 1s;

}
.the-options h2 {
    text-align: center;
    font-family: 'Delius Swash Caps', cursive;
}
.the-options p {
    text-align: center;
    font-family: 'Poor Story', cursive;
}
.the-options:hover {
    transform: scale(1.2);
}
.website-packages {
    background-color: black;
}
.packages {
    background-color: #ffffff;
    margin: 2em;
    padding: 10px 12px;
    flex-basis: 30%;
    border-radius: 10px;
    margin-bottom: 50px;
    box-sizing: border-box;
    transition: 1s;
}
.packages h2 {
    text-align: center;
    font-family: 'Delius Swash Caps', cursive;
    color: rgb(0, 0, 0);
}
.packages p {
    text-align: center;
    font-family: 'Poor Story', cursive;
    color: rgb(0, 0, 0);
}
.packages:hover {
    box-shadow: 0 0 30px 0px rgba(255, 255, 255, 0.7);
}
.pack-row {
    display: flex;
    justify-content: space-between;
}
.website-packages h1 {
    text-align: center;
    font-size: 60px;
    font-family: 'Delius Swash Caps', cursive;
    margin-top: 100px;
    margin-bottom: 30px;
    color: white;
    padding-top: 40px;
    text-decoration: underline;
}
.features-benefits h1 {
    text-align: center;
    font-size: 60px;
    font-family: 'Delius Swash Caps', cursive;
    margin-top: 55px;
    margin-bottom: 30px;
}
.benefits {
    background-color: #ffd5d5;
    margin: 2em;
    padding: 10px 12px;
    flex-basis: 30%;
    border-radius: 10px;
    margin-bottom: 50px;
    box-sizing: border-box;
    transition: 1s;
}
.benefits h2 {
    text-align: center;
    font-family: 'Delius Swash Caps', cursive;
}
.benefits p {
    text-align: center;
    font-family: 'Poor Story', cursive;
}
.benefits:hover {
    transform: scale(1.2);
}
